.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    flex: 1;
}

a {
    color: #0099ff;
    text-decoration: none;
    transition: 0.2s ease;
}
a:hover {
    color: #00ccff;
}